body {
    background-color: #c0a37d;
    padding: 20px;
}

header {
    display: flex;
    gap: 20px;
    border-color: black;
    border-width: 3px;
}

h1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: start;
    color: #F9B23D;
}

h2 {
    left: 218px;
    top: 40px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: start;
    color: black;
}

.logo {
    width: 72px;
    height: 72px;
}

#batu {
    width: 128px;
    height: 92px;
}

#batu-com {
    width: 128px;
    height: 92px;
}

#kertas {
    width: 115px;
    height: 150px;
}

#kertas-com {
    width: 115px;
    height: 150px;
}

#gunting {
    width: 134px;
    height: 160px;
}

#gunting-com {
    width: 134px;
    height: 160px;
}

button {
    background: none;
    border: none;
    padding: 0;
    width: 120px;
    height: 120px;
}

#col-21:hover, #col-31:hover, #col-41:hover {
    background: #c4c4c4;
    transition: all 0.5s ease;
    border-radius: 10px;
}

#result {
    font-size: 80px;
    font-weight: bold;
    color: red;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.row {
    text-align: center;
    flex-wrap: nowrap;
}

.col {
    padding: 20px 20px 10px;
}

#refresh {
    width: 100%;
    display: flex;
    justify-content: center;
}

.refresh-img {
    width: 77px;
    height: 71px;
}

.win {
position: absolute;
width: 296px;
height: 186px;
left: 568px;
top: 525.37px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 52px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;
transform: rotate(-30.98deg);
}