body {
    background-color: #c0a37d;
    padding: 20px;
}

header {
    display: flex;
    gap: 20px;
    border-color: black;
    border-width: 3px;
}

h1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: start;
    color: #F9B23D;
}

h2 {
    left: 218px;
    top: 40px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: start;
    color: black;
}

.logo {
    width: 72px;
    height: 72px;
}

#batu {
    width: 128px;
    height: 92px;
}

#batu-com {
    width: 128px;
    height: 92px;
}

#kertas {
    width: 115px;
    height: 150px;
}

#kertas-com {
    width: 115px;
    height: 150px;
}

#gunting {
    width: 134px;
    height: 160px;
}

#gunting-com {
    width: 134px;
    height: 160px;
}

button {
    background: none;
    border: none;
    padding: 0;
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.comChoice {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

#button1:hover, #button2:hover, #button3:hover {
    background: #c4c4c4;
    transition: all 0.5s ease;
    border-radius: 10px;
}

#result {
    font-size: 80px;
    font-weight: bold;
    color: red;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.grid {
    grid-template-columns: 180px 180px auto 200px;
    text-align: center;
}

.row {
    flex-wrap: nowrap;
}

.col {
    padding: 20px 20px 10px;
}

#button4 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.refresh-img {
    width: 77px;
    height: 77px;
}