<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games RPS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/games.css">
</head>
<body>
    <!-- HEADER TOMBOL BACK DAN LOGO GAME -->
    <header>
        <a href="/home" type="button" class="backButton" >
            <svg width="36" height="38" viewBox="0 0 36 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M35.0039 37.8633L0.09375 22.4648V17.4375L35.0039 0V8.4375L10.957 19.582L35.0039 29.4609V37.8633Z" fill="#724C21"/>
            </svg>
        </a>
        <img src="/images/assets/logo 1.png" alt="" class="logo">
        <h1>ROCK PAPER SCISSORS</h1>
        <h1><%- gameRoomData.roomName %></h1>
    </header>
    <br>
    <br>
    <div class="grid">
        <!-- NAMA PLAYER DAN LAWANNYA -->
        <div class="flex-container">
            <div class="column">
                <h2 style="letter-spacing: 1px; text-align: center;">
                    <%= gameRoomData.player1name %>
                </h2>
            </div>
            <div class="column"></div>
            <div class="column">
                <h2 style="letter-spacing: 1px; text-align: center;">
                    <%= gameRoomData.player2name %>
                </h2>
            </div>
        </div>
        <div class="flex-container-2">
            <div class="column-2">
                <% if(gameRoomData.player1name ==== user.username) { %>
                <form action="/submit-player1" method="post">
                    <button type="submit" name="RPS" value="rock" id="button">
                        <img src="/images/assets/batu.png" alt="rock images" id="batu">
                    </button>
                    <button type="submit" name="RPS" value="paper" id="button">
                        <img src="/images/assets/kertas.png" alt="paper images" id="kertas">
                    </button>
                    <button type="submit" name="RPS" value="scissor" id="button">
                        <img src="/images/assets/gunting.png" alt="scissor images" id="gunting">
                    </button>
                </form>
                <% } else { %>
                    <img src="/images/assets/batu.png" alt="rock images" id="batu">
                    <img src="/images/assets/kertas.png" alt="paper images" id="kertas">
                    <img src="/images/assets/gunting.png" alt="scissor images" id="gunting">
                    <% } %>
            </div>
            <div class="column-2" id="vs">VS</div>
            <div class="column-2">
                <% if(gameRoomData.player2name ==== user.username) { %>
                <form action="/submit-player1" method="post">
                    <button type="submit" name="RPS" value="rock" id="button">
                        <img src="/images/assets/batu.png" alt="rock images" id="batu">
                    </button>
                    <button type="submit" name="RPS" value="paper" id="button">
                        <img src="/images/assets/kertas.png" alt="paper images" id="kertas">
                    </button>
                    <button type="submit" name="RPS" value="scissor" id="button">
                        <img src="/images/assets/gunting.png" alt="scissor images" id="gunting">
                    </button>
                </form>
                <% } else { %>
                    <img src="/images/assets/batu.png" alt="rock images" id="batu">
                    <img src="/images/assets/kertas.png" alt="paper images" id="kertas">
                    <img src="/images/assets/gunting.png" alt="scissor images" id="gunting">
                    <% } %>
            </div>
        </div>
    
    <button onclick="ulang()" id="buttonRefresh">
        <img src="/images/assets/refresh.png" alt="" class="refresh-img">
    </button>   
    <script src="/js/games.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
</body>
</html>