<!-- HALAMAN KE 3 -->
<div class="page3">
    <p style="padding-left: 60%;">What's so special?</p>
    <h2 style="padding-left: 60%">FEATURES</h2>
    <div class="feature" style="padding-left: 60%; padding-top: 10%;">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="8.62158" cy="7.78027" r="7" transform="rotate(90 8.62158 7.78027)" fill="white"
                            stroke="white" stroke-width="1.30637" />
                    </svg>
                </div>
                <div class="col">
                    <p style="color: orange;">TRADITIONAL GAMES</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="straight-line"></div>
                </div>
                <div class="col">
                    <p class="subtext">if you miss your childhood, we provide many traditional games here</p>
                </div>
            </div>
            <div class="row" style="padding-top: 10%;">
                <div class="col">
                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="8.21436" cy="8.54736" r="7" transform="rotate(90 8.21436 8.54736)" stroke="white"
                            stroke-width="1.30637" />
                    </svg>
                </div>
                <div class="col">
                    <p style="color: orange;">GAME SUIT</p>
                </div>
            </div>
            <div class="row" style="padding-top: 10%; padding-bottom: 50%;">
                <div class="col">
                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="8.21436" cy="8.54736" r="7" transform="rotate(90 8.21436 8.54736)" stroke="white"
                            stroke-width="1.30637" />
                    </svg>
                </div>
                <div class="col">
                    <P style="color: orange;">TBD</P>
                </div>
            </div>
        </div>
    </div>
</div>