<!-- HALAMAN KE 4 -->
<div class="page4">
    <p class="subtext" style="text-align: center; padding-top: 150px ;">Can My Computer Run this game?</p>
    <h2 style="padding-top: 100px;">SYSTEM</h2>
    <h2>REQUIREMENTS</h2>
    <table class="requirements-table">
        <tr class="table-row">
            <th class="table-col">
                <p style="color: orange">OS:</p>
                <p class="subtext">Windows 7 64-bit only</p>
                <p class="subtext">(No OSX support at this time)</p>
            </th>
            <th class="table-col">
                <p style="color: orange">PROCESSOR:</p>
                <p class="subtext">Intel Core 2 Duo @ 2.4 GHZ or</p>
                <p class="subtext">AMD Athlon X2 @ 2.8 GHZ</p>
            </th>
        <tr class="table-row">
            <th class="table-col">
                <p style="color: orange">MEMORY:</p>
                <p class="subtext">4 GB RAM</p>
            </th>
            <th class="table-col">
                <p style="color: orange">storage:</p>
                <p class="subtext">8 GB available space</p>
            </th>
        </tr>
        <tr class="table-row">
            <th class="table-col" colspan="2">
                <p style="color: orange">GRAPHICS:</p>
                <p class="subtext">NVIDIA GeForce GTX 660 2GB or</p>
                <p class="subtext">AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
            </th>
        </tr>
    </table>
</div>