<!-- HALAMAN KE 5 -->
<div class="page5">
    <div class="page5_flex">
        <div class="page5_column1">
            <h2 style="padding-top: 200px; padding-left: 50px;">TOP SCORES</h2>
            <p class="subtext" style="padding-left: 50px;">This top score from various games provided on this platform
            </p>
            <button style="margin-bottom: 50%" type="button" class="btn btn-warning seemore">see more</button>
        </div>
        <div class="page5_column2">
            <div class="row row-cols-1 row-cols-md-2 grid-3">
                <div class="col">
                    <div class="card" style="margin-left: 100px;">
                        <div class="card-top">
                            <img src="/images/assets/evan-lahti.jpg" class="card-img-left" alt="...">
                            <div class="card-name">
                                <p style="color: orange; margin-top: 10px; margin-bottom: 0px;">Evan Lahti</p>
                                <p style="opacity: 0.5; margin-top: 0px">PC Gamer</p>
                            </div>
                            <img src="/images/assets/twitter-card.png" class="card-img-right" alt="...">
                        </div>
                        <div class="card-body">
                            <p class="subtext">"One of my gaming highlights of the year."</p>
                            <p class="subtext" style="opacity: 0.5;">June 18, 2021</p>
                        </div>
                    </div>
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-top">
                            <img src="/images/assets/jada-griffin.jpg" class="card-img-left" alt="...">
                            <div class="card-name">
                                <p style="color: orange; margin-top: 10px; margin-bottom: 0px;">Jada Griffin</p>
                                <p style="opacity: 0.5; margin-top: 0px">Nerdreactor</p>
                            </div>
                            <img src="/images/assets/twitter-card.png" class="card-img-right" alt="...">
                        </div>
                        <div class="card-body">
                            <p class="subtext">"The next big thing in the world of streaming and survival games."</p>
                            <p class="subtext" style="opacity: 0.5;">July 10, 2021</p>
                        </div>
                    </div>
                    <div class="card" style="margin-left: 50px; margin-top: 20px; margin-bottom: 50px;">
                        <div class="card-top">
                            <img src="/images/assets/aaron-williams.jpg" class="card-img-left" alt="...">
                            <div class="card-name">
                                <p style="color: orange; margin-top: 10px; margin-bottom: 0px;">Aaron Williams</p>
                                <p style="opacity: 0.5; margin-top: 0px">Uproxx</p>
                            </div>
                            <img src="/images/assets/twitter-card.png" class="card-img-right" alt="...">
                        </div>
                        <div class="card-body">
                            <p class="subtext">"Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous"</p>
                            <p class="subtext" style="opacity: 0.5;">December 24, 2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>